<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/aop  
	http://www.springframework.org/schema/aop/spring-aop.xsd">




	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="master" class="org.mybatis.spring.SqlSessionFactoryBean"
		scope="singleton">
		<property name="dataSource" ref="dataSource_master" />
		<property name="typeAliasesPackage" value="sds" />
		<property name="typeAliasesSuperType" value="com.riozenc.quicktool.mybatis.MybatisEntity"/>
		<property name="mapperLocations" value="classpath:/sds/webapp/**/*.xml" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>

	<!-- 扫描basePackage下所有以@MyBatisDao注解的接口 -->
	<bean id="mapperScannerConfigurer_master" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="master" />
		<property name="basePackage" value="sds" />
		<property name="annotationClass" value="com.riozenc.quicktool.annotation.MybatisDAO" />
	</bean>

	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="slave" class="org.mybatis.spring.SqlSessionFactoryBean"
		scope="singleton">
		<property name="dataSource" ref="dataSource_slave" />
		<property name="typeAliasesPackage" value="sds" />
		<property name="typeAliasesSuperType" value="com.riozenc.quicktool.mybatis.MybatisEntity"/>
		<property name="mapperLocations" value="classpath:/sds/webapp/**/*.xml" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>

	<!-- 扫描basePackage下所有以@MyBatisDao注解的接口 -->
	<bean id="mapperScannerConfigurer_slave" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="slave" />
		<property name="basePackage" value="sds" />
		<property name="annotationClass" value="com.riozenc.quicktool.annotation.MybatisDAO" />
	</bean>

</beans>